<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between border-bottom">
     
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem"></i>Weather Application
            </h6>
            <p>
              Created by Philip Jones
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Technologies Used
            </h6>
            <p>
              Express.js
            </p>
            <p>
              Node.js
            </p>
            <p>
              OpenWeatherMap API
            </p>
            <p>
              Google Maps API
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="https://www.linkedin.com/in/philiproyjones/" class="text-reset">LinkedIn</a>
            </p>
            <p>
              <a href="https://github.com/philip-roy-jones" class="text-reset">GitHub</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope"></i>
              <a href="mailto:jones.philipr@gmail.com">jones.philipr@gmail.com</a>
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <span class="text-reset fw-bold" href="https://mdbootstrap.com/">Philip Jones</span>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</html>