<%- include("partials/header.ejs") %>
<main class="blank-page">
    <div class="under-construction-container">
        <h1 class="under-construction">UNDER CONSTRUCTION</h1>
    </div>
    
</main>
<%- include("partials/footer.ejs") %>