<%- include("partials/header.ejs") %>
<div class="container mt-3 mb-5">
  <div class="row">
    <main class="col-md-8">
      <div class="card mb-4">
        <!-- Content for Today's Forecast -->
        <div id="current-summary" class="card">
        </div>
      </div>
      <div class="card mb-4 p-3">
        <!-- Current Weather Details -->
        <div id="current-detail">

        </div>
      </div>
      <div id="map" class="mb-4" style="height: 400px; border-radius: .5rem;">
        <!-- Current Weather Map -->
      </div>
      <div id="three-hr" class="card">
        <!-- Content for Forecast for the Week -->
      </div>
    </main>
    <aside class="col-md-4">
    </aside>
  </div>
</div>

<script src="js/current.js" type="module"></script>

<%- include("partials/footer.ejs") %>