<%- include("partials/header.ejs") %>
<div class="container mt-3 mb-5"> <!-- Apply flexbox utilities -->
  <div class="row"> <!-- Center the row contents -->
    <main class="col-md-8">
      <div class="card mb-4">
        <div class="card-content">
          <h2>Test</h2>
        </div>
      </div>
    </main>
    <aside class="col-md-4">
      <div class="card mb-4">
        <div class="card-content">
          <h2>Hello</h2> <!-- Adjust as needed -->
        </div>
      </div>
    </aside>
  </div>
</div>

<%- include("partials/footer.ejs") %>
