<%- include("partials/header.ejs") %>
<div class="container mt-3 mb-5"> <!-- Apply flexbox utilities -->
  <div class="row"> <!-- Center the row contents -->
    <main class="col-md-8">
      <div class="card mb-4">
        <div class="card-content">
          <h2>Hello!</h2>
          <p>
            For the past two months, working on this project has been an absolute joy. From figuring out how to retrieve and pass data to creating a dynamic day/night cycle graphic, I've loved every moment of it. However, it's with a heavy heart that I announce I'm stepping down from this project.
          </p>
          <p>
            I started this project before enrolling in my college's Web Development class. After being introduced to new technologies like MongoDB and React, I feel inspired to start fresh and incorporate these exciting tools into my work.
          </p>
          <p>Thank you so much for checking out my project! If you have any questions or just want to chat, please feel free to reach out to me at
            <a href="mailto:jones.philipr@gmail.com">
            jones.philipr@gmail.com
            </a>.
          </p>
        </div>
      </div>
    </main>
    <aside class="col-md-4">
      <div class="card mb-4">
        <div class="card-content youtube-container">
          <iframe class="youtube-iframe" src="https://www.youtube.com/embed/fz1N8W8phec" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </aside>
  </div>
</div>

<%- include("partials/footer.ejs") %>
