body {
    background: linear-gradient(
        to bottom, #005986, #d8eeee
    );
    background-attachment: fixed;
}

.temperature-summary {
    font-size: 6rem;
    display:inline-block;
    font-weight: bold;
    height: 5.6rem;
    line-height: 5.6rem;
}

.other-summary {
    font-size: 1.5rem;
    display:block;
}

.other-info-bold {
    font-weight: bold;
}

.card {
    border:0;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.row {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

#shaded-in-summary-container {
    background-color: #184958;
    border-radius: 0.4rem; /* Match the card's border-radius */
    text-shadow: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#current-summary {
    background: linear-gradient(135deg, #1881a9, #62c5da);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Adjust the shadow values */
}

.current-summary {
    color: white;
    padding: 0 1rem;
}

.navbar {
    background-color: #005986 !important;
  }

.flex-container {
    display: flex;
}

#icon-div {
    margin-left: auto;
}

#summary-div {
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content:center;
}

.card-content {
    margin: 1rem;
}

#current-unit {
    font-size: 1.25rem;
}

#registration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#registration-container > a {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0;
}

#current-detail-header {
    font-size: 1.4rem;
    display:block;
}

.inline-container {
    display:flex;
}

.left-align {
    text-align: left;
}

.right-align {
    margin-left: auto;
}

#feels-like-div {
    display: flex;
    flex-direction: column;
}

#current-detail-main {
    padding-left:.75rem;
    padding-right:.75rem;
}

.current-detail-subheader {
    font-size: 1.25rem;
}

#feels-like-temp {
    font-size: 3.5rem;
    font-weight:500;
    line-height: 3.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 36px;
}

.current-main-item {
    display: flex;
    padding: 10px 0;
    border-top: 1px solid #dedede;
}

#wind-arrow {
    transform-origin: center;
}

#wind-container {
    display: flex;
    align-items: center;
}

#outer-wind-container {
    display: flex;
    align-items: center;
}

#sunset-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: end;
}

.sun-times {
    font-size: 15px;
}

#path {
    width: 100px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    border: 3px solid rgb(255, 98, 0);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
}

#cycle-handler {
    transform-origin: center;
    width: 120%;
    margin-bottom: -5%;
    display:flex;
    justify-content:left;
    /* transform: rotate(0deg) !important; */
}

.cycle-icon {
    width: 24px; /* Adjust sun icon size */
    height: 24px; /* Adjust sun icon size */
    border-radius: 50%; /* Make it circular */
}

.three-hr-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dedede;
}

.three-hr-item {
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#to-three-hour-forecast {
    margin-top: .5rem;
    border-radius: 16px;
    padding-left: 6px;
    padding-right: 6px;
}

#unit-dropdown-toggle {
    display: flex;
    justify-content: center;
}

#top-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#middle-navbar {
    background-color: #1881a9;
    display: flex;
    align-items: center;
}

#bottom-navbar {
    background-color: #003651;
}

#bottom-navbar-container {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
}

.bottom-navbar-items {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
    position: relative; /* Ensure the pseudo-element is positioned relative to the parent */
    text-decoration: none;
  }

.bottom-navbar-items::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px; /* Height of the border */
    background-color: transparent; /* Initially transparent */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.bottom-navbar-items:hover::after {
    background-color: white; /* Change the background color on hover */
}

.nav-item {
    margin: 0 1rem;
}

#search-div {
    width: 35%;
    position:relative;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.pop {
    width: 40px;
    margin-left: 8px;
}

#top-nav-ul {
    display: flex;
    
}

.location-items {
    display: inline-flex;
    height: 40px;
    flex: 1;
    align-items: center;
}

.location-buttons {
    width: auto;
}

#suggestions {
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    margin-top: 4px;
  }
.suggestion-item {
    padding: 8px;
    cursor: pointer;
}
.suggestion-item:hover {
    background-color: #f0f0f0;
}

/* MEDIA QUERIES */

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
        flex-basis: auto;
    }
}